{% extends "base.html" %}

{% block content %}
  {{post.render() | safe}}
  {{ post.author }}
  <br><br>
  {% if user.name %}
    <form class= 'like_button' action='/liked/{{post.key().id()}}' method= 'post'>
      <input type='submit' value='Like'>
    </form>
    {% if post.author == user.name %}
      <form class= 'edit_button' action='/edit/{{post.key().id()}}'>
        <input type='submit' value='Edit'>
      </form>
      <form class= 'delete_button' action='/deleted/{{post.key().id()}}'>
        <input type='submit' value='Delete'>
      </form>


    {% endif %}
  {% endif %}
{% endblock %}
